// Base Colors

$darkpurple: #43074A;
$lightpurple: #D349E3;
$mediumpurple: #891B96;
$darkgreen: #244A00;
$darkblue: rgb(6, 19, 201);
$lightblue: rgb(73, 115, 231);
$lightgreen: #57961B;
$backgroundColor: rgb(62, 136, 185);
$headerBackground: rgb(60, 57, 216);
